* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(196, 156, 127);
}

.parent {
    width: 200px;
    height: 200px;
    background-color: white;
    margin: 100px;
    transition: all 800ms linear;
}

.child {
    width: 150px;
    height: 150px;
    background-color: rgb(110, 110, 255);
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.parent:hover {
    transform: scaleX(1.8)
}